<template>
  <div>
    <a-card :title="title"> </a-card>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, onMounted } from "vue";
const props = defineProps({
  title: {
    type: String,
    default: "标题",
  },
  request: Function,
});
const init = () => {
  props.request && typeof props.request === "function" && props.request();
};

onMounted(() => {
  init();
});
</script>

<style></style>
