<template>
  <div class="container">
    <div class="r-container">
      <base-list title="推荐阅读" :request="store.getReadList_s"> </base-list>
      <base-list title="文章标签" :request="store.getTage_s"> </base-list>
    </div>
  </div>
</template>

<script lang="ts" setup>
import useStore from "@/stores";
const store = useStore();
console.log(store);
</script>

<style></style>
