<template>
  <header class="header">
    <div class="container">
      <div class="container-left">
        <!-- 基础路由 -->
        <router-link :to="val.path" v-for="val in navData" :key="val.path">
          <span :class="$route.path === val.path ? 'navActive' : ''">{{
            $t(val?.meta?.title)
          }}</span>
        </router-link>
        <!-- 动态路由 -->
        <router-link
          v-for="val in navList"
          :key="val.id"
          :to="'/page/' + val.path"
          ><span
            :class="$route.path === '/page/' + val.path ? 'navActive' : ''"
            >{{ val.name }}</span
          ></router-link
        >
      </div>
      <div class="container-right">
        <span
          :class="{ active: languageFlag, languageOpen: true }"
          @click="ChangeLanguage()"
        >
          <fy-icon />
        </span>
        <span @click="handleChangecolor">
          <component :is="isComponent"></component>
        </span>
        <span>
          <ss-icon />
        </span>
      </div>
    </div>
  </header>
</template>
<script setup lang="ts">
import useStore from "@/stores";
import { storeToRefs } from "pinia";
import { ref, computed, onMounted, defineEmits } from "vue";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";

// 路由信息
const {
  options: { routes },
} = useRouter();
console.log(useRouter());

// 筛选路由信息 meta是否有 nav
const navData: any = computed(() => {
  return routes.filter((item) => item?.meta?.nav);
});
// 获取仓库
const store = useStore();

// 获取仓库数据
const { navList }: any = storeToRefs(store);

// 页码语言状态
const languageFlag = ref(false);

//切换语言
const { locale } = useI18n({ useScope: "global" });

// 动态路由请求
const init = () => {
  store.getNavData();
  console.log();
};

// 初始进入
onMounted(() => {
  init();
});
const isComponent = ref("hy-icon");

// emit 组件传参
const emit = defineEmits(["changeLanguage"]);
const handleChangecolor = () => {
  document.documentElement.classList.toggle("dark");
  isComponent.value = document.documentElement.classList.contains("dark")
    ? "bt-icon"
    : "hy-icon";
};

// 切换语言
const ChangeLanguage = () => {
  languageFlag.value = !languageFlag.value;
  locale.value = languageFlag.value ? "en" : "zh";
  emit("changeLanguage", {
    locale: locale.value,
  });
};
// navMouseenter
</script>
<style lang="less">
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--broder-color);

  .container {
    height: 100%;
    .display-flex-row-mixin(space-between, center);
  }
}

.container-left {
  a {
    margin: 0 10px;
  }
}

.container-right {
  span {
    margin: 0 10px;
  }
}

.languageOpen {
  & > span {
    transition: transform 1s;
  }

  &.active > span {
    transform: rotate(180deg);
  }
}
.navActive {
  color: red;
}
</style>
