<template>
  <a-config-provider :locale="locale">
    <div id="wrap">
      <base-header @changeLanguage="handleChangeLanguage"></base-header>
      <main>
        <router-view />
      </main>
    </div>
  </a-config-provider>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import zh from "ant-design-vue/es/locale/zh_CN";
import en from "ant-design-vue/es/locale/en_US";
const uilangues: any = { zh, en };
const locale = ref(zh);
const handleChangeLanguage = ({ locale: localekey }: any) => {
  locale.value = uilangues[localekey];
};
</script>

<style></style>
